@model List<ToDoList.Models.ToDo.ToDoListItem>

@{
    ViewData["Title"] = "ToDo Index";
}

<h1 class="mb-3" style="text-align: center">ToDo List</h1>
<p style="text-align: center">
    <a asp-action="Create" class="button">Add A Task</a>
</p>
<div class="mt-5 p-3 border p-4 mt-5" style="text-align: center" >
  <h2>Task Managment</h2>  
  <hr>
  
  @foreach (var ToDoListItem in Model)
  {
    <div style="text-align: center">
        
        <h3 class="mb-3" style="color: rgb(105, 100, 100)">Category: @ToDoListItem.Category</h3>
        <p>@ToDoListItem.Description</p>
        <p>Complete By: @ToDoListItem.FinishByDate</p>
         <div class="text-center p-3">
            <a asp-action="Details" class="button" asp-route-id="@ToDoListItem.Id">Details</a>
            <span>|</span>
            <a asp-action="Update" class="button" asp-route-id="@ToDoListItem.Id">Update</a>
            <span>|</span>
            <a asp-action="Delete" class="button" asp-route-id="@ToDoListItem.Id">Delete</a>
        </div>
        <hr>
    </div>
  }